


.main-menu{
	background-color: yellow;

}

.videoContainer{
	background-color: red;
	height: 500px;

}

.container{
	background-color: black;
}

.button-row{
	height: 200px;
}

.button-container{
	background-color: blue;

}


.button-inner{
	margin: 0 auto;
}

.footer-inner{
	height: 200px;
}