


.main-menu{
	background-color: yellow;

}

.videoContainer{
	background-color: red;
	height: 500px;

}

.container{
	background-color: black;
}

.button-row{
	height: 200px;
}

.button-container{
	background-color: blue;

}


.button-inner{
	margin: 0 auto;
}

.footer-inner{
	height: 200px;
}



/* style for tech specs */

.heading-container {

}
 
.heading-row {
 height: 250px;
}  

h1{
font-family: 'Passion One';
font-size: 60px;
text-align: center;
}

h2 {
font-family: 'Roboto Slab';
font-size: 30px;
text-align: center;

}